In [1]:
import pandas as pd
import operator
import time
import seaborn as sns

### Syntax  - when do we use these?
 - `()` - when calling a function or method; to create a tuple
 - `{}` - when creating a dictionary or set 
 - `[]` - when slicing an iterable; to create a list

### call the `ctime()` method from the time module

In [2]:
time.ctime()

'Wed Aug 28 09:39:32 2019'

### [Python Collections](https://www.w3schools.com/python/python_lists.asp)

#### a _tuple_ is an ordered, immutable list

In [3]:
tuple1 = (90, 180, 270, 360)
tuple2 = 'Ashley', 'Kim'
tuple8 = tuple()

In [4]:
print('tuple1 is a ', type(tuple1))
print('tuple2 is a ', type(tuple2))

tuple1 is a  <class 'tuple'>
tuple2 is a  <class 'tuple'>

In [5]:
tuple2

('Ashley', 'Kim')

In [6]:
tuple3 = tuple1 + tuple1

In [7]:
tuple3

(90, 180, 270, 360, 90, 180, 270, 360)

In [8]:
tuple3[1]

180

In [9]:
print(tuple.__doc__)

Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

In [11]:
# type tuple3. and press tab to see tuple methods
tuple3.count(180)

2

In [10]:
tuple3.index(360)

3

In [12]:
tuple3[0] = 360

TypeError: 'tuple' object does not support item assignment

#### a _list_ is ordered and mutable

In [13]:
list1 = ['red', 'yellow', 'blue', 'green', 'red', 'green']
list2 = ['Alex', 'Dan', 'Yunkai', 'Armelle', 'Seth', 'Turnee']

In [14]:
print('list1 is a ', type(list1))
print('list2 is a ', type(list2))

list1 is a  <class 'list'>
list2 is a  <class 'list'>

In [15]:
list3 = list1 + list2

In [16]:
list3

['red',
 'yellow',
 'blue',
 'green',
 'red',
 'green',
 'Alex',
 'Dan',
 'Yunkai',
 'Armelle',
 'Seth',
 'Turnee']

In [17]:
list3[0]

'red'

In [18]:
list3[0] = 'purple'

In [19]:
list3

['purple',
 'yellow',
 'blue',
 'green',
 'red',
 'green',
 'Alex',
 'Dan',
 'Yunkai',
 'Armelle',
 'Seth',
 'Turnee']

In [ ]:
# type list3. and press tab to see list methods
list3.

In [20]:
list3.pop(2)
list3

['purple',
 'yellow',
 'green',
 'red',
 'green',
 'Alex',
 'Dan',
 'Yunkai',
 'Armelle',
 'Seth',
 'Turnee']

In [21]:
list3.remove('Seth')
list3

['purple',
 'yellow',
 'green',
 'red',
 'green',
 'Alex',
 'Dan',
 'Yunkai',
 'Armelle',
 'Turnee']

In [22]:
list3.append('Seth')
list3

['purple',
 'yellow',
 'green',
 'red',
 'green',
 'Alex',
 'Dan',
 'Yunkai',
 'Armelle',
 'Turnee',
 'Seth']

In [23]:
list3.reverse()
list3

['Seth',
 'Turnee',
 'Armelle',
 'Yunkai',
 'Dan',
 'Alex',
 'green',
 'red',
 'green',
 'yellow',
 'purple']

In [ ]:
last_one = list3.pop()
last_one

In [ ]:
list3

In [24]:
# lists are iterable - here we use a for-loop to iterate through list3 and create a new list

plurals = []
for item in list3:
    plurals.append(item + 's')
    
plurals

['Seths',
 'Turnees',
 'Armelles',
 'Yunkais',
 'Dans',
 'Alexs',
 'greens',
 'reds',
 'greens',
 'yellows',
 'purples']

In [25]:
# list comprehensions are a compact way to iterate through a list

plurals2 = [item + 's' for item in list3]
plurals2

['Seths',
 'Turnees',
 'Armelles',
 'Yunkais',
 'Dans',
 'Alexs',
 'greens',
 'reds',
 'greens',
 'yellows',
 'purples']

In [26]:
favorite_colors = {}

In [27]:
type(favorite_colors)

dict

In [28]:

favorite_colors = dict(zip(list2, list1))
favorite_colors

{'Alex': 'red',
 'Dan': 'yellow',
 'Yunkai': 'blue',
 'Armelle': 'green',
 'Seth': 'red',
 'Turnee': 'green'}

In [30]:
favorite_colors['Yunkai']

'blue'

## Sometimes we might want to turn a series into a list

### Let's get a _list_ of unique iris species

In [32]:
# load the iris dataset from seaborn

iris_df = sns.load_dataset('iris')
print(iris_df.shape)
iris_df.head(2)

(150, 5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [33]:
# what datatype is iris_df?
type(iris_df)

pandas.core.frame.DataFrame

In [34]:
iris_df.species.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [35]:
species = iris_df.species
type(species)

pandas.core.series.Series

In [36]:
species_list = list(species)

print(type(species_list))
print(species_list)

<class 'list'>
['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica']

In [37]:
# passing a list to a set constructor is a handy way to get unique list values

unique_species = set(species_list)
print(type(unique_species))
unique_species

<class 'set'>

{'setosa', 'versicolor', 'virginica'}

### Next, we'll use a mask to *filter* the iris DataFrame

In [39]:
# use a mask to subset the data to get only observations with a sepal_length > 5.0

iris_df['sepal_length'] > 5

0       True
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: sepal_length, Length: 150, dtype: bool

In [41]:
big_sepal_mask = iris_df['sepal_length'] > 5

In [42]:
# use the mask to subset
big_sepals = iris_df[big_sepal_mask]
print(big_sepals.head(2))
print("The biggest big sepal is ", big_sepals.sepal_length.max(), 
      "cm long!")

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
The biggest big sepal is  7.9 cm long!

In [49]:
a = (iris_df.sepal_length > 5) & (iris_df.sepal_length < 6)
biggish_sepals = iris_df[a]

print(biggish_sepals.info())
print("The biggest biggsih sepal is ", 
      biggish_sepals.sepal_length.max(), "cm long!")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    51 non-null float64
sepal_width     51 non-null float64
petal_length    51 non-null float64
petal_width     51 non-null float64
species         51 non-null object
dtypes: float64(4), object(1)
memory usage: 2.4+ KB
None
The biggest biggsih sepal is  5.9 cm long!

### Functions and for-loops

#####  write a function that takes two numbers as input and returns their sum

In [50]:
def sum_two(num1 = 4, num2 = 5):
    return num1 + num2

In [51]:
sum_two()

9

In [52]:
sum_two(8, 9)

17

In [53]:
sum_two( 'hello', 'Sam')

'helloSam'

#### what if we only want to use `sum_two()` to add numbers?

In [55]:
def sum_it(num3, num4):
    if (isinstance(num3, str)  or isinstance(num4, str)):
        return('Arguments must be numeric!')
    else:
        return num3 + num4

In [58]:
sum_it(list1, list2)

['red',
 'yellow',
 'blue',
 'green',
 'red',
 'green',
 'Alex',
 'Dan',
 'Yunkai',
 'Armelle',
 'Seth',
 'Turnee']

In [ ]:
sum_it('hello', 'Sam')

#### When do we write a function?

In [59]:
num = 279
if num <= 1:
     print(num,"is not a prime number")

for i in range(2,num):
    if (num % i) == 0:
        print(num,"is not a prime number")
        print(i,"times",num//i,"is",num)
        break
else:
    print(num,"is a prime number")

279 is not a prime number
3 times 93 is 279

In [60]:
def test_for_prime(num):
    if num <= 1:
         print(num,"is not a prime number")

    for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number")
            print(i,"times",num//i,"is",num)
            break
    else:
        print(num,"is a prime number")

In [65]:
test_for_prime(75344317)

75344317 is not a prime number
3347 times 22511 is 75344317

In [ ]:
test_for_prime(391)